<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'main.html' %}
    {% block content %}
        <h1>Rooms</h1>
        {% for room in rooms %} 
            <p>{{ room.id }} --> <a href="/room/{{room.id}}">{{ room.name }}</a></p>
        {% endfor %}
        <p>I am after</p>
    {% endblock %}
</body>
</html>
