<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <div><a href="/" class="brand-name">BookDorm</a></div>
        <button
            class="mobile-nav-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
        >
    <span class="sr-only"></span>
        </button>
        <ul class="nav-links">
            <li><a href="/rooms">Rooms</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

<hr>
</body>
</html>